<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lock.war3.pub.areyouok">

    <!-- 该权限group,用于访问网络，或者基于网络的lbs定位服务，判断或改变网络状态等功能 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- bugly读取日志需要 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- 该权限用于获取手机相机使用权限，比如发送作业图片需要拍照 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 该权限用于获取手机相机使用闪光灯权限，比如二维码扫描需打开闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <!-- 该特性group用于访问系统硬件相机与相机自动对焦功能，比如扫描二维码时需要 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- 该权限group用于读写外置存储的文件，比如app或第三方sdk需要读写缓存文件等 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 暴风云所需权限 该权限允许使用PowerManager WakeLocks防止处理器休眠或屏幕变暗 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 以下是极光所必需的权限，已经在sdk中做了兼容适配 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="720" />
        <meta-data
            android:name="design_height"
            android:value="1280" />

        <activity
            android:name=".HaluoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_haluo"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".HaluoWeChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_haluo"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".CaiHongActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_cai_hong"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".CaiHongTicketActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_cai_hong"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".CaiHongTicketMorningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_cai_hong"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>